{% extends 'base.html' %}

{% block title %}Manage My Courses{% endblock %}

{% block content %}
<h1>Manage My Courses</h1>
{% for inst in instances %}
  <div class="card mb-3">
    <div class="card-header">
      {{ inst.course.name }} - {{ inst.semester }} (Status: {{ inst.status }})
    </div>
    <div class="card-body">
      <p>Enrolled Students:</p>
      <ul>
      {% for enroll in inst.enrollments.all %}
        <li>
          {{ enroll.student.username }}
          <!-- Link or form to remove this student -->
        </li>
      {% empty %}
        <li>No students enrolled yet.</li>
      {% endfor %}
      </ul>
      <!-- (NEW) You could add a form to add a student by username, or search, etc. -->
    </div>
  </div>
{% endfor %}
{% endblock %}
